node_modules/
.env
.vs/DevslopesWorx/FileContentIndex/553a8b1c-6536-4995-9293-e950df9b1d8b.vsidx
.vs/DevslopesWorx/FileContentIndex/b585e1aa-34f2-4c4d-acfe-bf3affc0ff8c.vsidx
.vs/DevslopesWorx/FileContentIndex/8181448c-3148-432e-840b-07eda7311fc3.vsidx
*.vsidx
